.editable-comment {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui.cards > .card .comment-blue {
  background-color: #CEF6FF;
}

.ui.cards > .card .comment-saving {
  background-color: #ffedcc;
}
