.tweets-col {
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hide-tweets-col {
  width: 50%;
}

.comments-col {
  /*opacity: 0;*/
  /*visibility: hidden;*/
  width: 0%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

.visible-comments-col {
  /*opacity: 1;*/
  /*visibility: visible;*/
  width: 50%;
}
